.modal-content {
  background-color: var(--bs-dark)!important;
}
textarea:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white; /* Warna thumb (kotak yang bisa digeser) */
  border-radius: 6px; /* Radius untuk membuat ujung kotak menjadi bulat */
}

.bg-purple{
  background-color: #6f42c1!important;
}
.bg-pink{
  background-color: #d63384!important;
}
.bg-orange{
  background-color: #fd7e14!important;
}

.dropdown-toggle:empty::after {
  display: none;
}